body{
    background-color: white;
}

table.img-container{
    margin-top: 90px;
    width: 70%;
}


td.image{
    text-align: center;
    width: 600px;
    margin-top: 70px;
    font-size: 2em;
}

td.image img{
    
    height: 150px;
    
}

div.search{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

div.categorie{
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
}

div.conteneur{
    width: 70%;
    margin-left: 15%;
    height: 350px;
    display: flex;
}

.jumbotron div.annonce{
    float: left;
    width: 20%;
    height: 250px;
    margin-left: 30px;
    background-color: transparent;
    text-align: center;
}



#slider {
    margin-left: 80px;
    position: relative;
    /* margin: 20px auto 0 auto; */
    border-radius: 4px;
    width: 70%;
    height: 250px;
    overflow: hidden;
}

.bgimage{
    height: 100%;
}

.bgimage a img{
    width: 100%;
    margin-right: 6px;
}



div.title{
    font-size: 2em;
    margin-left: 15%;
}



a{
    text-decoration: none;
    color: white;
}

#card{
    margin-left: 10%;
    margin-top: 80px;
    width: 300px;
}


.jumbotron div.annonce .img{
    width: 150px;
    height: 100px;
    border: none;
    
}

p.msg{
    font-size: 3em;
    margin-left: 40%;
    margin-top: 100px;
}

div.msg{
    width: 100%;
}

.msg small{
    margin-left: 50%;
    font-size: 1em;
}



/* --------------------------------------------------------------------------------------- */

/* the Slider css */



#slider ul.image_slider_ul {
    position: relative;
    margin: 0;
    padding: 0;
    width: 400%;
    height: 100%;
    list-style: none;
  }
  
  #slider ul.image_slider_ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
  }
  
  #slider ul.image_slider_ul li .bgimage{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: #333; */
    background-position: 100% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    /* -webkit-filter: blur(2px); */
  }
  
  /*  Indicators*/
  
  #slider .indicator_con{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    bottom: 0;
  }
  
  #slider .indicator_con ul.indicator{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }
  
  #slider .indicator_con ul.indicator li{
    position: relative;
    list-style: none;
    width: 20px;
    height: 4px;
    background-color: #fff;
    /* border: 1px solid #fff; */
    display: inline-block;
    margin: 0 3px;
    border-radius: 1.5px;
    transition: 800ms ease-in-out;
  }
  
  #slider .indicator_con ul.indicator li.active{
  background-color:#F2B206;
  }
  
  /*  Buttons*/
  
  button.control_prev, button.control_next {
    position: absolute;
    /* top: 42%; */
    z-index: 999;
    display: block;
    width: 7%;
    height: 100%;
    background: transparent;
    /* background: rgba(0,0,0,0.1); */
    color: #eee;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    border: none;
    outline: none;
    /* opacity: 0.8; */
    cursor: pointer;
  }
  
  button.control_prev:hover, button.control_next:hover {
    opacity: 1;
    /* background-color: #fff; */
    color: #fff;
  }
  
  button.control_prev {
    border-radius: 0 4px 4px 0;
  }
  
  button.control_next {
    right: 0;
    border-radius: 4px 0 0 4px;
  }





/* --------------------------------------------------------------------------------------- */


/* the Premium item display */


.annonce-premium{
    background-image: url('https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
    padding: 0;
    overflow: hidden;
    margin-top: 50px;
  }
  .space{height: 100px;}
  .container-fluid{
    height: 500px;
    position: relative;
  }
  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 70vh;
  }

  .image-container img{
    width:600px;
    height: 400px;
    border-radius: 14px;
  }

  .image-container{
    transform: rotate(0deg);
    max-width: 600px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    transition: 2s;
  }
  .out-screen{
    transform: rotate(90deg);
    left: -700px;
  }
  .come-in{
    transform: rotate(0deg);
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
  }
  #prev, #next{
    position: absolute;
    background: rgb(190, 158, 110);
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 12px;
  }
  #prev{
    left: 0;
  }
  #next{
    right: 0;
  }
  @media screen and (max-width: 500px){
    .image-container{width: 100%;}
  }


/* --------------------------------------------------------------------------------------- */


/* the Item display css */



@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
*,
::before,
::after {
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}
a {
    color: lightgray;
    text-decoration: none;
    
    transition: .3s ease-in-out;
}
a:hover {
    color: red;
}
img {
    width: auto;
    max-width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 -10px;
    padding: 24px 0;
}

.product__image img{
  height: 250px;
}

.product {
    
    width: 370px;
    height: 400px;
    padding: 0 10px;
    margin-bottom: 20px;
}
.product__card {
    transition: .3s ease-in-out;
}
.product__card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}
.product__card:hover .product__image::after {
  transform: rotateZ(0deg);
  opacity: 1;
}
.product__card:hover  div.product__btns {
  opacity: 1;
  }
    
.product__image {
    position: relative;
}
.product__image::after {
  content: '';
  background: rgba(21, 21, 21, 0.4);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  opacity: 0;

  transform: rotate(50deg);
  transition: 0.5s ease-in-out;
}
div.product__btns {
  position: absolute;  
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);  
  
  opacity: 0;
  
  transition: .3s ease-in-out;
}



div.product__btns > a {
 position: relative;
 overflow: hidden;
 
 display: block;
 
 margin-bottom: 10px;
 
 text-align: center;
 padding: 12px 40px;
 
 font-size: 10px;
 color: white;
 text-transform: uppercase;
 
 border: 1px solid white;
}
div.product__btns > a::after {
  content: '';

  position: absolute;
  left: -200%;
  top: -50%;
  width: 150%;
  height: 200%;
  z-index: -1;
  
  transform: skew(-45deg);
  background: white;
  transition: .7s all;
}
div.product__btns > a:hover::after {
  left: -30%;
}
div.product__btns > a:hover {
  color: #333;
}
div.product__btns > a:last-child {
  margin-bottom: 0;
}
        
.product__description {
  padding: 14px 14px 18px;
}
.product__description  h4 {
  margin-bottom: 8px;
  text-transform: uppercase;
 }








/*   Most Viewed */




i {
  vertical-align: middle;
}
.slideshow {
  margin-top: 70px;
  position: relative;
}
.slide {
  animation: fade 1s;
  margin-left: 20%;
  border-radius: 12px;
  border: black solid 1px;
  width: 60%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.slide img {
  animation: zoom 16s linear;
  width:80%;
  height: 100%;
  object-fit: cover;
  margin-left: 10%;
}
.arrow {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  margin: 10px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  transition: .4s;
  z-index: 1;
  width: 30px;
  height: 60px;
}
.arrow:hover {
  background: white;
  color: black;
}
#arrow-right i.fa {
  position: relative;
  right: -4px;
  top: -3px;
}
#arrow-left i.fa {
  position: relative;
  left: -4px;
  top: -3px;
}

#arrow-right {
  right: 20%;
}

#arrow-left {
  left: 20%;
}
.content {
  font-size: 20px;
  position: absolute;
  top: 80%;
  transform: translate(0, -50%);
  z-index: 1;
}
.slide1 .content {
  color: white;
  left: 100px;
  max-width: 500px;
}
@keyframes fade {
  from{ opacity: 0.4 }
  to{ opacity: 1 }
}
@keyframes zoom {
  from {transform: scale(1)}
  to {transform: scale(1.5)}
}

* {
  box-sizing: border-box;
}
.slide2 .content {
  right: 100px;
}

.contact-form {
  animation: slideUp .5s;
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 12px solid rgb(33, 51, 100);
  padding: 10px 30px 10px;
  width: 450px;
}
.contact-form h2 {
  color: rgb(33, 51, 100);
  font-size: 48px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@keyframes slideUp{
  0%{
    transform: translateY(150px) 
  }
  100%{
    transform: translateY(0px);
  }
}
.contact-form input, .contact-form select, textarea {
  margin-bottom: 20px;
  padding: 10px;
  resize: none;
}
input.submit, .slide1 .content .btn {
  border: none;
  background: #00a63f;
  border-radius: 4px;
  color: white;
  display: inline-block;
  padding: 10px 30px;
}

@media (max-width: 900px) {
   .slide2 .content {
    right: 50%;
    transform: translate(50%, -50%);
  } 
  .arrow {
    width: 70px;
    height: 70px;
    font-size: 50px;
  }
}
@media (max-width: 750px) {
  .content {
    font-size: 1.5rem;
  }
  .slide1 .content {
    max-width: 250px;
  }
  .contact-form {
    max-width: 300px;
  }
  .contact-form .box50 {
    width: 100%;
  }
  .arrow {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .content {
    font-size: 1rem;
  }
  .contact-form {
    display: none;
  }
  .contact-form .box50 {
    width: 100%;
  }
  .slide {
    height: 60vh;
  }
}

.box50 {
  width: 45%;
}
.box100 {
  width: 100%;
}



/* animated Welcome */

#enter{
  width: 600px;
  height: 150px;
  
}


#target{
	overflow: hidden;
	position: absolute;
	width: 400px;
  height: 150px;
  border-radius: 40%;
  margin-left: 7%;
}
.bar{
	z-index: -1;
	background-color: #0077ff;
	height: 80px;
	border-radius: 1vw;
	width: 1vw;
	position: absolute;
	
}
#page{
	height: 150px;
	width: 600px;
  display: flex;
	text-align: center;
}
section{
	overflow: hidden;
	-webkit-align-self: center;
  align-self: center;
}
h1{
	width: 600px;
	text-align: center;
	font-family: 'Montez'; 
	color: #000;
	font-size: 20vh;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
#displayText{
	-webkit-transition: color 5s; /* Safari */
	transition: color 5s;
}



