div.img-container{
    margin-top: 100px;
    width: 550px;
    height: 450px;
    float: left;
    border: rgb(230, 225, 225) solid 1px;

}

.img-container img{
    object-fit: contain;
    
    }

.img-container h3{
    margin-top: 10px;
    margin-left: 20px;
}

nav ul.center{
    position: relative;
    left: 30%;
    right: 30%;
    margin-top: 10px;
}

div.link{
    width: 100%;
    margin-top: 0;
}

div.info-container{
    width: 300px;
    height: 600px;
    margin-left: 10px;
}

.info-container img{
    margin-left: 22%;
    margin-top: 10px;
}

.info-container div{
    margin-top: 20px;
    text-align: center;
}

button.center{
    margin-top: 20px;
    margin-left: 40%;
}

div.box-container{
    height: 600px;
    margin-left: 20%;
}

div.info-img{
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: black;
}


.desc{
    text-align: center;
    font-size: 1.2em;
}

div.form{
    margin-left: 10%;
    margin-top: 20px;
}

div.btns{
    margin-top: 50px ;
    margin-left: 40%;
    display: flex ;
}

div.col1{
    position : relative;
    left: 40%;
    right: 30%;
}
div.col2{
    position : relative;
    left: 50%;
    right: 30%;
}

h1{
    text-align: center;
    margin-top: 100%;
}

div.bar{
    margin-top: 5%;
    margin-left: 3%;

}

div.calendrier{
    width: 1100px;
    margin-left: 16%;
}


button:hover{
    opacity: 0.8;
}

.modal{
    background-color: transparent;
    display: none;
    position: fixed;
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: 4%;
}

div.report-content{ 
    margin: 4% auto 15% auto;
    border: 1px solid rgb(216, 216, 216);
    width: 30%;
    padding-bottom: 30px;
    background-color: rgb(219, 219, 219);
    text-align: center;
    border-radius: 6px;

}


.report{
    background-color: transparent;
    display: none;
    position: fixed;
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: 4%;
}

button:disabled {
    cursor: not-allowed!important;
    pointer-events: all ;
}



hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a.commentuser {
    color: #82b440;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
    display: table;
    clear: both;
}

.blog-comment{
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

.blog-comment ul{
    list-style-type: none;
    padding: 0;
}

.blog-comment img{
    opacity: 1;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.blog-comment img.avatar {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    width: 65px;
    height: 65px;
}

.blog-comment .post-comments{
    border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
    margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #6b6e80;
    position: relative;
}

.blog-comment .meta {
    font-size: 13px;
    color: #aaaaaa;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
    list-style-type: none;
    padding: 0;
    margin-left: 85px;
}

.blog-comment-form{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 800;
}











  /* parent of book-container & container (slider) */


  /* wraps entire slider */
  .slider-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
  }



  /* slider controls*/
  .control {
    position: absolute;
    top: 50%;
    width: 70px;
    height: 30px;
    color: #fff;
    font-size: 3rem;
    padding: 0;
    margin: 0;
    line-height: 0px;
  }

  .prev,
  .next {
    cursor: pointer;
    transition: all 0.1s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
    background: rgba(0,0,0,0.3);
    padding: 1rem;
  }

  .prev {
    margin-top: 30%;
    margin-left: 30%;
    left: 1.1rem;
  }

  .next {
    margin-top: 30%;
    margin-right: 30%;
    right: 1.1rem;
  }

  .prev:hover,
  .next:hover {
    transform: scale(1.5,1.5);
  }

  .slider-container {
    /*
    n variable holds number of images to make .container wide enough
    to hold all its image children
    that still have the same width as its parent
    */
    display: flex;
    align-items: center;
    overflow-y: hidden;
    width: 100%; /* fallback */
    width: calc(var(--n)*100%);
    height: 31vw;
    max-height: 100vh;
    transform: translate(calc(var(--i, 0)/var(--n)*-100% + var(--tx, 0px)));
  }

  /* transition animation for the slider */
  .smooth {
    /* f computes actual animation duration via JS */
    transition: transform calc(var(--f, 1)*.5s) ease-out;
  }

  /* images for the slider */
  img {
    width: 100%; /* can't take this out either as it breaks Chrome */
    margin: auto;
    pointer-events: none;
  }



  body{
    background:#eee;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a.commentuser {
    color: #82b440;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
    display: table;
    clear: both;
}
.blog-comment{
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
}
.blog-comment ul{
    list-style-type: none;
    padding: 0;
}
.blog-comment img{
    opacity: 1;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.blog-comment img.avatar {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    width: 65px;
    height: 65px;
}
.blog-comment .post-comments{
    border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
    margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #6b6e80;
    position: relative;
}
.blog-comment .meta {
    font-size: 13px;
    color: #aaaaaa;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}
.blog-comment ul.comments ul{
    list-style-type: none;
    padding: 0;
    margin-left: 85px;
}
.blog-comment-form{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}
.blog-comment h3,
.blog-comment-form h3{
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 800;
}















body{
    background:#eee;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a.commentuser {
    color: #82b440;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
    display: table;
    clear: both;
}
.blog-comment{
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
}
.blog-comment ul{
    list-style-type: none;
    padding: 0;
}
.blog-comment img{
    opacity: 1;
    filter: Alpha(opacity=100);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.blog-comment img.avatar {
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 0;
    width: 65px;
    height: 65px;
}
.blog-comment .post-comments{
    border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
    margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #6b6e80;
    position: relative;
}
.blog-comment .meta {
    font-size: 13px;
    color: #aaaaaa;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}
.blog-comment ul.comments ul{
    list-style-type: none;
    padding: 0;
    margin-left: 85px;
}
.blog-comment-form{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}
.blog-comment h3,
.blog-comment-form h3{
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 800;
}


input.rating{
    display: none;

}
label.rating{
    cursor: pointer;
    width: 50px;
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all 0.2s;

}
input.rating:checked ~ label.rating:before{
    content: '\f005';
    color: #fd4;
    transition: all 0.2s;
}
input.star5:checked ~ label.rating:before {
    color: #fe7;
}


/* Css d formulaire d comment */
label.rating:before{
    content: '\f005';
    font-family: fontAwesome;
}

.star-outer{
    position: relative;
    display: inline-block;

}
.star-inner{
    position: absolute;
    top: 0;
    left :0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;

}
.star-outer:before{
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    color:#ccc;

}
.star-inner:before{
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    color:#fd4;

}   






#slider {
    margin-left: 80px;
    position: relative;
    /* margin: 20px auto 0 auto; */
    border-radius: 4px;
    width: 70%;
    height: 250px;
    overflow: hidden;
}

.bgimage{
    height: 100%;
}

.bgimage a img{
    width: 100%;
    margin-right: 6px;
}



#slider ul.image_slider_ul {
    position: relative;
    margin: 0;
    padding: 0;
    width: 400%;
    height: 100%;
    list-style: none;
  }

  #slider ul.image_slider_ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
  }

  #slider ul.image_slider_ul li .bgimage{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: #333; */
    background-position: 100% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    /* -webkit-filter: blur(2px); */
  }

  /*  Indicators*/

  #slider .indicator_con{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    bottom: 0;
  }

  #slider .indicator_con ul.indicator{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
  }

  #slider .indicator_con ul.indicator li{
    position: relative;
    list-style: none;
    width: 20px;
    height: 4px;
    background-color: #fff;
    /* border: 1px solid #fff; */
    display: inline-block;
    margin: 0 3px;
    border-radius: 1.5px;
    transition: 800ms ease-in-out;
  }

  #slider .indicator_con ul.indicator li.active{
  background-color:#F2B206;
  }

  /*  Buttons*/

  button.control_prev, button.control_next {
    position: absolute;
    /* top: 42%; */
    z-index: 999;
    display: block;
    width: 7%;
    height: 100%;
    background: transparent;
    /* background: rgba(0,0,0,0.1); */
    color: #eee;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    border: none;
    outline: none;
    /* opacity: 0.8; */
    cursor: pointer;
  }

  button.control_prev:hover, button.control_next:hover {
    opacity: 1;
    /* background-color: #fff; */
    color: #fff;
  }

  button.control_prev {
    border-radius: 0 4px 4px 0;
  }

  button.control_next {
    right: 0;
    border-radius: 4px 0 0 4px;
  }




