div.card{
    margin-left: 10%;
    margin-top: 80px;
    width: 300px;
}

div.album{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
h1{
    text-align: center;
}

#btn{
    width: 150px;
    margin-left: 100px;
    margin-top: 0px;
    
}
div.btns{
    
    display: flex ;
    padding-top: 5px;
    padding-left: 0px;
}

div.col1{
  position : relative;
  padding-right: 6px;
}
div.col2{
    position : relative;
    
}

p.msg{
    font-size: 3em;
    margin-left: 40%;
    margin-top: 100px;
}

div.msg{
    width: 100%;
}

.msg small{
    margin-left: 50%;
    font-size: 1em;
}