body{
	background-color: white;
}

div.msg{
    margin-top: 60px;
    width: 60%;
    margin-left: 20%;
	font-size: 2em;
	font-style: italic;
}


.img img{
	margin-left: 30%;
}

/*
.center{
    padding-right:30%;
    margin-left: 30%;
    width: 40%;
    height: 255px;
    color: #cc0000;
    justify-content: center;
	font-size:2.5em;
    align-items: center;
    transition: all 2.5s ease, color 0.3s ease;
    background-color: black;
    border-radius: 15px;
}

/*Sliding Effect*/
/*
.slider__wrapper {
	position: relative;
	width: 630px;
	margin: auto;
	padding: 1.5em 2em;
    transition: all 1s ease;
    border-radius: 15px;
}
.slider {
	position: absolute;
	width: 1.4em;
	bottom: 0px;
	right: 0px;
	background: red;
	transition: width 0.5s cubic-bezier(1, 0.27, 0, 0.78);
	box-shadow: 0px 0px 10px 0px red;
	z-index: 999999;
}
.slider:after,
.slider:before {
	content: "";
	position: absolute;
}
.slider__text {
	color: #cacaca;
	font-size: 2.5em;
	margin-right:10%;
	opacity: 0;
	font-family:'Roboto';
	font-family:'Black Ops One';
	text-shadow: 0px 0px 8px #FF0000;
}

*/



#splash {
	background: #cc1f2f;
	background-repeat: repeat-y;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	animation: splash 3s ease-in;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
  }
  
  #loader {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%,0);
  }
  
  #loader:after {
	content: '';
	position: absolute;
	left: 50%;
	margin-left: -8px;
	bottom: -170px;
	width: 3px;
	background: #fff;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
	height: 200px;
  }
  
  #loader:before {
	content: '';
	position: absolute;
	left: 50%;
	margin-left: 8px;
	bottom: -190px;
	width: 3px;
	background: #000;
	background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0) 100%);
	height: 200px;
  }
  
  #splash .anim {
	height: 100%;
	position: absolute;
	left: 50%;
	width: 100px;
	transform: translate(-50%,100%);
	animation: loader 4s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
  }
  
  @keyframes loader {
	0% {
	  transform: translate(-50%,110%);
	}
	30% {
	  transform: translate(-50%,50%);
	}
	100% {
	  transform: translate(-50%,0%);
	}
  }
  
  @keyframes splash {
	0% {
	  transform: translate(0%,0%);
	}
	50% {
	  transform: translate(0%,0%);
	}
	100% {
	  transform: translate(0%,-100%);
	}
  }
  